.container {
  display: flex;
  justify-content: space-around;
}
.player,
.computer {
  width: 300px;
  border-radius: 10px;
  border: 3px solid black;
}

.computer svg {
  scale: 170%;
}
.flipped {
  transform: scaleX(-1);
}
.player svg {
  scale: 170%;
}
.score {
  font-size: 1.5rem;
  width: 100%;
  height: 40px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.title {
  font-size: 1.5rem;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-color: black;
  border-bottom: 1px solid;
}
.playerHand,
.computerHand {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.middleColumn {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 4px black;
}
.middleColumn .timer {
  color: #fff;
  font-size: 5rem;
  font-weight: bold;
  user-select: none;
}
.middleColumn .winner {
  font-size: 4rem;
  color: #fff;
}
.playerShakingHand {
  position: relative;
  left: -70px;
  transform-origin: 100% 100%;
  animation: playerShaking 0.3s ease-in-out infinite;
}
.computerShakingHand {
  position: relative;
  right: -20px;
  transform-origin: 100% 100%;
  animation: computerShakingHand 0.3s ease-in-out infinite;
}
.winnerAnimation1 {
  animation: winnerAnimation1 2s ease;
}
.winnerAnimation2 {
  animation: winnerAnimation2 2s ease;
}
@keyframes playerShaking {
  0%,
  100% {
    transform: rotate(100deg);
  }
  50% {
    transform: rotate(80deg);
  }
}
@keyframes computerShakingHand {
  0%,
  100% {
    transform: scaleY(-1) rotate(-100deg);
  }
  50% {
    transform: scaleY(-1) rotate(-80deg);
  }
}
@keyframes winnerAnimation1 {
  30% {
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.1);
  }
  50% {
    transform: rotate(20deg) scale(1.1);
  }
  70% {
    transform: rotate(0deg) scale(1.04);
  }
  80% {
    transform: scale(1);
  }
}
@keyframes winnerAnimation2 {
  30% {
  }
  40%,
  60% {
    transform: scaleX(-1) rotate(-20deg) scale(1.1);
  }
  50% {
    transform: scaleX(-1) rotate(20deg) scale(1.1);
  }
  70% {
    transform: scaleX(-1) rotate(0deg) scale(1.04);
  }
  80% {
    transform: scaleX(-1) scale(1);
  }
}
